
@{
    ViewData["Title"] = "AddNumbers";
}

<h1>AddNumbers</h1>

<form>
    <input type="number" placeholder="Num1" name="num1" />
    <br/>
    <input type="number" placeholder="Num2" name="num2" />
    <br />
    <input type="submit" class="btn btn-primary" />
    <br/>
</form>

<h3>
    @ViewBag.result
</h3>